.DS_Store
.idea
.run
.vscode

.env
.env.production
.env.local

ray.php

/content/
/storage/cache
/storage/sessions
/storage/accounts
/vendor
/node_modules
/public/media
/public/assets/dist
/kirby
/site/languages/

site/plugins/*
!site/plugins/weitweit-*
